!default.mode2v3
*.perspectivev3
!default.perspectivev3

*.xcuserstate
#忽略文件夹下的内容
/build/
xcuserdata
DerivedData

#忽略所有的此类文件
*.xcuserstate
*.xcworkspace
*.xccheckout
*.moved-aside

#忽略文件
.DS_Store

#忽略Pods
/Pods/*
~       
